<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="CVSStructureConsoleOut"
		class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p %c{1} - %m%n" />
		</layout>
	</appender>
	
	<appender name="CVSStructureFile" class="org.apache.log4j.RollingFileAppender">
		<param name="File" value="./CVSStructureFile.log" />
		<param name="Append" value="true" />
		<param name="MaxFileSize" value="2MB"/>
	    <param name="MaxBackupIndex" value="2"/>
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyyMMdd HH:mm:ss.SSS} %-5p %c{1} - %m%n" />
		</layout>
	</appender>
	
	<logger name="CVSStructureInfo">
    	<level value="info"/>
    	<appender-ref ref="CVSStructureConsoleOut" />
    	<appender-ref ref="CVSStructureFile" />
  	</logger>
  	
	<logger name="CVSStructureDebug">
    	<level value="debug"/>
    	<appender-ref ref="CVSStructureFile" />
  	</logger>

	<root>
		<priority value="debug" />
	</root>

</log4j:configuration>